section(class="canvas front" id="front")

    div(class="intro-image")

    div(class="content")

        img(src='/assets/images/global/_linked/cog.png' , alt='some image', class="cog")

        h2 We&#39;ll be back soon!

        div

            p Sorry for the inconvenience. We&#39;re performing some maintenance at the moment. We&#39;ll be back up shortly!

            p(class="blue") — Crewscale
